html, body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent; }

body, th, td, p, ol, ul, li, dl, dt, dd, a, h1, h2, h3, h4, h5, h6, form, fieldset, input, legend, select, textarea {
  margin: 0;
  padding: 0; }

input, img, fieldset {
  border: none; }

input, select, fieldset {
  vertical-align: middle; }

ul, ol {
  padding-left: 0;
  list-style-type: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  vertical-align: top; }

i, cite, em, var, address, dfn {
  font-style: normal; }

a:link {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder, input:focus::-moz-placeholder {
  color: transparent; }

button, input[type=button], input[type=password], input[type=submit], input[type=text], textarea {
  -webkit-appearance: none; }

input:-ms-clear {
  display: none; }

/* clear IE10 X */
input {
  -webkit-user-modify: read-write-plaintext-only; }

select {
  overflow-x: hidden; }

.clear::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  line-height: 0;
  visibility: hidden; }

.tl {
  text-align: left; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.fl {
  float: left; }

.fr {
  float: right; }

.vm {
  vertical-align: middle; }

.pr {
  position: relative; }

.pa {
  position: absolute; }

.none {
  display: none; }

.block {
  display: block; }

/* ellipsis */
.elli {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

del {
  text-decoration: line-through; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

html, body {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  font-family: 'Microsoft YaHei'; }

.pan-box {
  width: 10.77333rem;
  height: 10.56rem;
  background: url(../images/pan.png) center top no-repeat;
  background-size: 100% 100%;
  margin: 0.55467rem auto;
  position: relative; }
  .pan-box .pan {
    width: 100%;
    position: relative;
    z-index: 4; }
  .pan-box .shan {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 10.77333rem;
    height: 10.56rem;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    background-size: 100%;
    z-index: 4; }
    .pan-box .shan.scroll1 {
      background: url(../images/shan.png) no-repeat;
      background-size: 10.77333rem auto;
      animation: run 1500ms steps(5) 1 0s;
      -webkit-animation: run 1500ms steps(5) 1 0s; }
    .pan-box .shan.scroll1_2 {
      background: url(../images/shan.png) no-repeat;
      background-size: 10.77333rem auto;
      animation: run1_1 1500ms steps(5) 1 0s;
      -webkit-animation: run1_1 1500ms steps(5) 1 0s; }
    .pan-box .shan.scroll2 {
      background: url(../images/shan.png) no-repeat;
      background-size: 10.77333rem auto;
      animation: run1_2 750ms steps(5) 7 0s;
      -webkit-animation: run1_2 750ms steps(5) 7 0s; }
    .pan-box .shan.scroll3_1 {
      background: url(../images/shan1.png) no-repeat;
      background-size: 10.77333rem auto; }
    .pan-box .shan.scroll3_2 {
      background: url(../images/shan2.png) no-repeat;
      background-size: 10.77333rem auto;
      animation: run2 300ms steps(1) 1 0s both;
      -webkit-animation: run2 300ms steps(1) 1 0s both; }
    .pan-box .shan.scroll3_3 {
      background: url(../images/shan3.png) no-repeat;
      background-size: 10.77333rem auto;
      animation: run3 600ms steps(2) 0s both;
      -webkit-animation: run3 600ms steps(2) 0s both; }
    .pan-box .shan.scroll3_4 {
      background: url(../images/shan4.png) no-repeat;
      background-size: 10.77333rem auto;
      animation: run4 900ms steps(3) 1 0s both;
      -webkit-animation: run4 900ms steps(3) 1 0s both; }
    .pan-box .shan.scroll3_5 {
      background: url(../images/shan5.png) no-repeat;
      background-size: 10.77333rem auto;
      animation: run5 1200ms steps(4) 1 0s both;
      -webkit-animation: run5 1200ms steps(4) 1 0s both; }
  .pan-box .gift {
    position: absolute;
    left: 0;
    top: 0;
    width: 10.77333rem;
    height: 10.77333rem;
    background: url(../images/gift.png) center top no-repeat;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    background-size: 100%;
    z-index: 5; }
  .pan-box .neddle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4.224rem;
    height: 4.224rem;
    margin: -2.112rem 0 0 -2.112rem;
    background: url(../images/yuyue_btn.png) center top no-repeat;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    background-size: 100%;
    z-index: 6; }
  .pan-box .roles {
    width: 15.70133rem;
    height: 9.38667rem;
    position: absolute;
    left: -3.41333rem;
    top: 0;
    background: url(../images/roles.png) center top no-repeat;
    background-size: 100%;
    z-index: 1; }

@-webkit-keyframes run {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -52.94933rem; } }
@keyframes run1_1 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -52.94933rem; } }
@-webkit-keyframes run1_1 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -52.94933rem; } }
@keyframes run1_2 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -52.94933rem; } }
@-webkit-keyframes run1_2 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -52.94933rem; } }
@keyframes run2 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -10.58133rem; } }
@-webkit-keyframes run2 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -10.58133rem; } }
@keyframes run3 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -21.184rem; } }
@-webkit-keyframes run3 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -21.184rem; } }
@keyframes run4 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -31.78667rem; } }
@-webkit-keyframes run4 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -31.78667rem; } }
@keyframes run5 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -42.45333rem; } }
@-webkit-keyframes run5 {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 -42.45333rem; } }

/*# sourceMappingURL=active7.css.map */
